In [14]:
import pandas as pd

df = pd.read_csv('../data/test/autores_wikipediaTest.csv')
print(df.head)

<bound method NDFrame.head of      id              subject  \
0     1         Harry Litman
1     2        Jamelle Bouie
2     3          Samuel Moyn
3     4    Michelle Goldberg
4     5         Peter Singer
..  ...                  ...
95   96        Sella, Rotem.
96   97       Horner, Chris.
97   98       Sorkin, Aaron.
98   99  Andrew Ross Sorkin.
99  100       Hughes, Robert

                                                 urls
0          https://en.wikipedia.org/wiki/Harry_Litman
1         https://en.wikipedia.org/wiki/Jamelle_Bouie
2           https://en.wikipedia.org/wiki/Samuel_Moyn
3     https://en.wikipedia.org/wiki/Michelle_Goldberg
4          https://en.wikipedia.org/wiki/Peter_Singer
..                                                ...
95           https://en.wikipedia.org/wiki/Rotem_Sela
96         https://en.wikipedia.org/wiki/Chris_Horner
97         https://en.wikipedia.org/wiki/Aaron_Sorkin
98   https://en.wikipedia.org/wiki/Andrew_Ross_Sorkin
99  https://en.wikipedia.org/wiki/Robert_Hughes_(c...

[100 rows x 3 columns]>

In [16]:
names = df['subject'].copy()
# Get the first name when it applies 
names = names.str.split(', ', expand=True)

In [17]:
def normalizeNames(row):
    if row[1] != None:
        ret = str(row[1]).strip('.;') +" "+ str(row[0]).strip(';. ')
        if row[2] != None:
            return ret + " "+str(row[2]).strip(';.')
        else:
            return ret
    else:
        return row[0]
names[0] = names.apply(normalizeNames, axis=1)
del names[1]
del names[2]
names.head()

                   0
0       Harry Litman
1      Jamelle Bouie
2        Samuel Moyn
3  Michelle Goldberg
4       Peter Singer

In [18]:
# add again autor_id column to names
names['id'] = df['id']
names['urls'] = df['urls']
names = names.rename(columns={0: 'author_name'})
# remove space at the end of the author_name
names['author_name'] = names['author_name'].str.strip()
# remove all white spaces and replace them with a single space
names['author_name'] = names['author_name'].str.replace(r'\s+', ' ', regex=True)
# replace tab with space
names['author_name'] = names['author_name'].str.replace('\t', ' ')

names.head()

         author_name  id                                             urls
0       Harry Litman   1       https://en.wikipedia.org/wiki/Harry_Litman
1      Jamelle Bouie   2      https://en.wikipedia.org/wiki/Jamelle_Bouie
2        Samuel Moyn   3        https://en.wikipedia.org/wiki/Samuel_Moyn
3  Michelle Goldberg   4  https://en.wikipedia.org/wiki/Michelle_Goldberg
4       Peter Singer   5       https://en.wikipedia.org/wiki/Peter_Singer

In [19]:
names.to_csv('../data/test/test_wikipedia_normalized.csv', index=False)